{% extends 'email/mail-layout.html.twig' %}

{% block title %}
    <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">
        Confirmation de votre réservation  </h2>
{% endblock %}
{% block content %}
    <div align="left" class="article-content">
        <p>Votre réservation est enregistrée.<br/>Merci de voyager avec Flyaround</p>
    </div>
{% endblock %}