{% extends 'email/mail-layout.html.twig' %}

{% block title %}
    <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">
        Un nouveau passager sur votre vol </h2>
{% endblock %}
{% block content %}
    <div align="left" class="article-content">
        <p>Quelqu'un vient de réserver une place sur votre vol.<br/>Merci de voyager avec Flyaround</p>
    </div>
{% endblock %}